<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}
        <meta charset="UTF-8">  
        <title>Home</title>  
  
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
    </head>  
    <body>
        <h1>WELCOME TO GOLD GYM</h1>
        <br>
        <H2>Please Select your Task</H2>
        <br>
            <p>
            <!--<a href="/" class="classname"style='margin-right:96px'>Home</a>-->
            <a href="/EnterMember" class="classname" style='margin-right:96px'>Add Member</a>
            <a href="/EnterTrainer" class="classname"style='margin-right:96px'>Add Trainer</a>
            <a href="/showMember" class="classname"style='margin-right:96px'>Show Members</a>
        </p>
        <br>
        <br>
        <br>
            <a href="/showTrainer" class="classname"style='margin-right:96px'>Show Trainers</a>
            <a href="/deleteTrainer" class="classname"style='margin-right:96px'>Delete Trainer</a>
            <a href="/deleteMember" class="classname"style='margin-right:96px'>Delete Member</a>
    </body>  
</html> 