<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Home</title>  
    </head>  
    <body>
        <ul>
            <li><a href="/" class="nav-link text-left">Home</a></li>
            <li><a href="/EnterMember" class="nav-link text-left">Enter Member</a></li>
            <li><a href="/EnterTrainer" class="nav-link text-left">Enter Trainer</a></li>
            <li><a href="/showMember" class="nav-link text-left">showMember</a></li>
            <li><a href="/showTrainer" class="nav-link text-left">showTrainer</a></li>
        </ul>
    </body>  
</html> 