<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}
        <meta charset="UTF-8">  
        <title>Home</title>  
  
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
    </head>  
    <body>
        <ul>
            <li><a href="/" class="nav-link text-left">Home</a></li>
            <li><a href="/EnterMember" class="nav-link text-left">Enter Member</a></li>
            <li><a href="/EnterTrainer" class="nav-link text-left">Enter Trainer</a></li>
            <li><a href="/showMember" class="nav-link text-left">showMember</a></li>
            <li><a href="/showTrainer" class="nav-link text-left">showTrainer</a></li>
            <li><a href="/deleteTrainer" class="nav-link text-left">deleteTrainer</a></li>
            <li><a href="/deleteMember" class="nav-link text-left">deleteMember</a></li>
        </ul>
    </body>  
</html> 