<!DOCTYPE html>  
<html lang="en">  
    <head> 
        {% load static %}
 
        <meta charset="UTF-8">  
        <title>Show Members</title>
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
  
    </head>  
    <body><br>
       <h2>List of Members:</h2>
       <br>
       <form method="POST" id="post-form">  
            {% csrf_token %} 
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name">
            </div> 
            <div>
                <label for="age_g">Age Greater Than: </label>
                <input id="age_g" type="text" name="age_g">
                <label for="age_l">Age Lesser Than: </label>
                <input id="age_l" type="text" name="age_l">
            <div>
            </div>
                <label for="phno">Number: </label>
                <input id="mphno" type="text" name="phno">
                <label for="time">Time: </label>
                <input id="time" type="text" name="time">
            <div>
            </div>
                <label for="years_g">Years Greater Than: </label>
                <input id="years_g" type="text" name="years_g">
                <label for="years_l">Years Lesser Than: </label>
                <input id="years_l" type="text" name="years_l">
            </div>
            <button type="submit" class="save btn btn-default">Submit</button>  
        </form>  
        <br>
        {{plot_div|safe}}
        <br>
        <br>
        <div class="home">
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
        </div>
    </body>  
</html> 