<!DOCTYPE html>  
<html lang="en">  
    <head> 
        {% load static %}
 
        <meta charset="UTF-8">  
        <title>Show Members</title>
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
  
    </head>  
    <body><br>
       <h2>List of Members:</h2>
       <br>
       <form method="POST" class="post-form">  
            {% csrf_token %}  
            <label for="name">Name: </label>
            <input id="name" type="text" name="name">
            <label for="age_g">Age Greater Than: </label>
            <input id="age_g" type="text" name="age_g">
            <label for="age_l">Age Lesser Than: </label>
            <input id="age_l" type="text" name="age_l">
            <label for="phno">Number: </label>
            <input id="phno" type="text" name="phno">
            <label for="time">Time: </label>
            <input id="time" type="text" name="time">
            <label for="years_g">Years Greater Than: </label>
            <input id="years_g" type="text" name="years_g">
            <label for="years_l">Years Lesser Than: </label>
            <input id="years_l" type="text" name="years_l">
            <button type="submit" class="save btn btn-default">Submit</button>  
        </form>  
       <br>
       {{plot_div|safe}}
       <br>
       <br>
       <a href="/" class="classname"style='margin-right:96px'>Home</a>
    </body>  
</html> 