<!DOCTYPE html>  
<html lang="en">  
    <head>  
        {% load static %}

        <meta charset="UTF-8">  
        <title>Show Trainers</title>  
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">

    </head>  
    <body><br>
        <h2>List of Trainers:</h2>
        <br>
        <form method="POST" id="post-form">  
            {% csrf_token %} 
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name">
            </div>
            <div>                
                <label for="phno">Number: </label>
                <input id="tphno" type="text" name="phno">
            </div>
            <div>
                <label for="age_g">Age Greater Than: </label>
                <input id="age_g" type="text" name="age_g">
                <label for="age_l">Age Lesser Than: </label>
                <input id="age_l" type="text" name="age_l">
            </div>
            <div>
                <label for="hours_g">Hours Greater Than: </label>
                <input id="hours_g" type="text" name="hours_g">
                <label for="hours_l">Hours Lesser Than: </label>
                <input id="hours_l" type="text" name="hours_l">
            </div>
            <div>
                <label for="salary_g">Salary Greater Than: </label>
                <input id="salary_g" type="text" name="salary_g">
                <label for="salary_l">Salary Lesser Than: </label>
                <input id="salary_l" type="text" name="salary_l"> 
            </div>           
            <button type="submit" class="save btn btn-default">Submit</button>  
        </form>  
        <br>
        {{plot_div|safe}}
        <br>
        <br>
        <div class="home">
            <a href="/" class="classname"style='margin-right:96px'>Home</a>
        </div> 
</html> 